.card {
    min-width: 350px;
    min-height: 450px;
    max-width: 40px;
    border: 2px solid var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    flex-wrap: wrap;
}
@media (max-width:450px) {
    .card {
        width: 100%;
        min-width: 100%;
        padding: 8px;
    }
}