.card {
  border-radius: 8px;
  box-shadow: 0 0 5px 5px #eeeeee;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
  align-items: flex-start;
  h3 {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin: 0 8px;
  }
  img {
    width: 100%;
    display: block;
  }
}
.title {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
  i {
    font-size: 25px;
    color: #e76f51;
  }
  h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
  }
}
.starsContainer {
    text-align: left;
    margin: 0 8px;
    i {
        color: #2774AE;
    }
}
.priceText {
    color: #0a1d2c;
    text-align: left;
    font-size: 25px;
    margin: 0 8px;
    font-weight: bold;
}