:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-color: #ba9774;
}
*:not(i) {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.2px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .special-heading {
    font-size: 100px;
    letter-spacing: -1px;
  }
  .special-heading + p {
    margin-top: -35px;
    font-size: 25px;
    letter-spacing: 0px;
  }
}
@media (max-width: 576px) {
  .special-heading {
    font-size: 50px;
  }
  .special-heading + p {
    margin-top: -15px;
    font-size: 12.5px;
  }
}
@media (max-width: 336px) {
  .special-heading {
    display: none;
  }
  .special-heading + p {
    display: none;
  }
}
.container {
  padding: 20px;
  margin-inline: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  align-items: center;

}
/*******************************************/
